/* Overview Card Styles */
.overview-card {
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .overview-title {
    margin-bottom: 10px;
  }
  
  .overview-value {
    font-size: 1.5rem;
  }
  